.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.jumbotron{
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-image: url("product_img/bk2.png");
}
.bg-text {
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;

  }

